@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

html{
  scroll-behavior: smooth;
}

.white__gradient{
  background: rgba(255, 255, 255, 0.10);
  filter: blur(150px);
}

.blue-text__glow{
  text-shadow: 0px 0px 25px rgba(16, 190, 213, 0.32);
}

.blue__glow{
  box-shadow: 0px 0px 39px rgba(16, 190, 213, 0.55);
}

.img-blue__glow{
  filter: drop-shadow(0px 0px 100px rgba(1, 99, 160, 0.87));
}

.blue__gradient{
  background: rgba(1, 99, 160, 0.87);
  filter: blur(376.5px);
}

.about__gradient{
  background: linear-gradient(105.56deg, #131341 0%, #0067A5 100%);
  box-shadow: 0px 4px 100px rgba(0, 85, 137, 0.4);
}

.about__element__gradient{
  background: linear-gradient(90deg, #19C1D7 0%, #005662 100%);
}

.team__title__gradient{
  background: radial-gradient(73.37% 73.37% at 50.1% 13.04%, #5BC1FF 0%, #0084D3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.team__card__bg{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  filter: drop-shadow(0px 0px 179px rgba(1, 102, 163, 0.1));
}
.team__card__content{
  background: linear-gradient(290.29deg, #131644 4.13%, #0166A3 86.88%);
}


::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #0eb2ce;
}

@layer components{
  .navbar-li{
    @apply text-gray-300 cursor-pointer hover:text-white transition-all duration-150;
  }
}